<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArtLogger.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ArtLogger.Settings>
            <setting name="WriteConsole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WriteFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseGui" serializeAs="String">
                <value>True</value>
            </setting>
        </ArtLogger.Settings>
    </userSettings>
</configuration>